<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clubMapper">
   <!-- 전체 조회 -->
	<select id="selectAll" resultType="com.bjbj.bookclub.BookclubDTO">
		select * from bookroom
	</select>
	
	<!-- 최근순으로 조회 -->
	<select id="selectLately" resultType="com.bjbj.bookclub.BookclubDTO">
		select * from role join bookroom using(room_id) join member using(email) 
    	where email = #{email} order by close_date desc
	</select>
	
	<!-- 페이징 -->
	<select id="getCount" resultType="int">
		select count(*) from role join bookroom using(room_id) join member using(email) where email = #{email}
	</select>
	
	<!-- 페이징 -->
	<select id="selectPage" parameterType="map" resultType="com.bjbj.bookclub.BookclubDTO">
	select * from (select bookroom.*,  role.email, row_number() over(order by close_date desc) as num,
   		row_number() over(order by close_date) as rank from bookroom join role  on( bookroom.room_id = role.room_id) 
    where email = #{email}) join member using(email) where num between #{start} and #{end}
	</select>
	
	<!-- 모임 찜 하기 -->
	<insert id="insertLike" parameterType="com.bjbj.bookclub.BookclubDTO">
		insert into like_room values(#{room_id}, #{email})
	</insert>
	
	<!-- 찜한 모임 삭제 (일반) -->
	<delete id="deleteLike" parameterType="map">
		delete from like_room where room_id = #{room_id} and email = #{email}
	</delete>
	
	<!-- 찜한 모임 전체 조회 -->
	<select id="likeClub" resultType="com.bjbj.bookclub.BookclubDTO">
		select * from like_room join bookroom using(room_id) join member using(email) where email = #{email}
	</select>	
	
	<!-- 찜한 모임 삭제 (체크) -->
	<delete id="deleteLikeClub" parameterType="map">
		delete from like_room where email = #{email} and room_id in
			<foreach collection="deleteArr" item="num" open="(" close=")" separator=",">
				#{num}
			</foreach>
	</delete>

	<select id="selectList" resultType="com.bjbj.bookclub.BookclubDTO">
		select * from bookroom order by open_date
	</select>

	<insert id="insert" parameterType="com.bjbj.bookclub.BookclubDTO">
		insert into bookroom
		values( #{room_id}, #{room_title}, #{room_detail}
		, #{book_title}, #{book_cover}, #{room_people}, default, sysdate, sysdate+14
		, #{open_date}, #{close_date}, default, null, #{tag}, #{meet_week},
		#{place} )
	</insert>

	<select id="selectOne" parameterType="int" resultType="com.bjbj.bookclub.BookclubDTO">
		select * from bookroom where room_id=#{room_id}
	</select>

	<update id="updateCurrent" parameterType="int">
		update bookroom set room_current = room_current+1 where room_id = #{room_id}
	</update>

	<update id="updateStatus" parameterType="map">
		update bookroom set room_status = #{room_status} where room_id = #{room_id}
	</update>
	
	<!-- bookroom 삭제 (by room_id) -->
	<delete id="deleteBookroom" parameterType="int">
		delete from bookroom where room_id = #{room_id}
	</delete>


	<!-- create Room_id(seq_room) sequence -->
	<select id="selectSeq" resultType="int">
		select seq_room.nextval from dual
	</select>
	
	<!-- 모임 신고 -->
	<insert id="insertReportBookroom" parameterType="com.bjbj.manager.ReportBookroomDTO">
	  insert into report_bookroom values(#{room_id}, #{room_title}, #{report_content}, sysdate, #{report_detail}, #{reporter_nickname})
	</insert>
  
	<!-- 회원 신고 -->
	<insert id="insertReport" parameterType="com.bjbj.manager.ReportDTO">
	  insert into report values(#{email}, #{report_content}, default, sysdate, #{report_detail}, #{reporter_nickname}, default)
	</insert>

	<!-- 회원 닉네임 받아오기 -->
	<select id="selectRoleMember" parameterType="String" resultType="com.bjbj.member.MemberDTO">
		select role.email, nickname from role inner join member on role.email = member.email where role.email != #{email}
	</select>

	<!-- 현재 날짜(sysdate)에 모집 종료되는 '모집중' 클럽 room_id -->
	<select id="selectRoomIdByRecruit" resultType="int">
		select room_id from bookroom where recruit_end = TO_CHAR(SYSDATE,'yyyy-MM-dd') and room_status = '모집중'
	</select>

	
	<!-- 현재 날짜(sysdate)에 모임이 종료되는 '진행중' 클럽 room_id -->
	<select id="selectRoomIdByClosedate" resultType="int">
		select room_id from bookroom where close_date = TO_CHAR(SYSDATE,'yyyy-MM-dd') and room_status = '진행중'
	</select>
	
	<update id="setEndStatus" parameterType="int">
		update bookroom set room_status = '종료' where room_id = #{room_id}
	</update>
	
	<!-- 종료된 모임 정보 expiration 테이블에 삽입 -->
	<insert id="insertExpiration" parameterType="com.bjbj.bookclub.ExpirationDTO">
		insert into expiration values (#{room_id}, #{room_title}, #{room_detail},#{book_title}, #{book_cover}, #{room_people}, #{room_current}, to_date(#{open_date},'YYYY/MM/DD hh24:mi:ss'), to_date(#{close_date},'YYYY/MM/DD hh24:mi:ss'), #{tag}, #{meet_week}, #{place})
	</insert>
	
	<!-- 만료테이블 -->
	<select id="selectExpirationById" parameterType="int" resultType="com.bjbj.bookclub.ExpirationDTO">
		select * from expiration where room_id = #{room_id}
	</select>
	
	<!-- 검색페이지 북클럽 검색 -->

	<select id="searchByTitle" parameterType="String" resultType="com.bjbj.bookclub.BookclubDTO">
		select * from bookroom where book_title like '%'||#{keyword}||'%' and room_status = '모집중'
	</select>

</mapper>
