<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="likeMapper">

	<!-- 도서 찜 추가 -->
	<insert id="insertLikeBook" parameterType="com.bjbj.books.LikeBookDTO">
		INSERT INTO like_book 
			VALUES( #{book_isbn}, #{book_title}, #{book_author}, #{email}, #{img_id})
	</insert>
	
	<!-- 도서 짬 삭제 -->
	<delete id="removeLikeBook" parameterType="String">
		DELETE FROM like_book
			WHERE email = #{email} AND book_isbn = #{book_isbn}
	</delete>	

</mapper>