<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="managerMapper">
<!-- 블랙리스트 조회  -->
<select id="selectBlacklist" resultType="org.apache.commons.collections4.map.CaseInsensitiveMap">
	select * from blacklist join member using (email)
</select>

<!-- 블랙리스트 삭제 -->
<delete id="delete" parameterType="String">
	delete from blacklist where email=#{email}
</delete>

<!-- 전체회원 페이지에서 블랙리스트 개별 추가-->
<insert id="insert" parameterType="com.bjbj.manager.BlacklistDTO">
	insert into blacklist 
	values (#{email}, #{black_detail},#{warning_count} )
</insert>

<!-- 블랙리스트 체크 박스로 선택 추가 -->
<insert id="submitSelectBlack" parameterType="map">
	insert all
		<foreach collection="checkblack" item="email">
			into blacklist values (#{email} , null, default)
		</foreach>
		select *
		from dual
</insert>

<!-- 블랙리스트 검색 -->
<select id="searchBlacklist" parameterType="map" resultType="org.apache.commons.collections4.map.CaseInsensitiveMap">
	select * from member inner join blacklist using(email)
		where ${category} like '%' || #{keyword} || '%'
</select>

<!-- 전체 회원 조회 -->
<select id="selectAllmember" resultType="org.apache.commons.collections4.map.CaseInsensitiveMap">
	select * from member 
		full outer join report using(email) 
</select>

<!-- 블랙리스트 검사 -->
<select id="selectBlackmember" resultType="com.bjbj.manager.BlacklistDTO">
	select email from blacklist
</select>

<!-- 전체 회원 검색 -->
<select id="searchMember" parameterType="map" resultType="org.apache.commons.collections4.map.CaseInsensitiveMap" >
	select email, name, nickname, warning_count from member  
		  full outer join report using(email)
			where ${category} like '%' || #{keyword} || '%'
</select>



<!-- 전체 모임 조회 --> 
<select id="selectBookroom" resultType="org.apache.commons.collections4.map.CaseInsensitiveMap">
	select * from bookroom join role using(room_id) where role='L'
</select>
<!-- 모임 검색 -->
<select id="searchBookclub" parameterType="map" resultType="org.apache.commons.collections4.map.CaseInsensitiveMap">
	select * from bookroom join role using(room_id) where role='L'
		and ${category} like '%' || #{keyword} || '%'
		
		<!-- role 이 L 일때 -->
		
</select>
<!-- 모임 개별 삭제 -->
<delete id= "deleteBookroom" parameterType="int">
	delete from bookroom 
		where room_id=#{room_id}
</delete>



<!-- 리뷰 전체 조회 -->
<select id="selectAllreview" resultType="com.bjbj.review.ReviewDTO">
	select * from review
</select>

<!-- 리뷰 검색 -->
<select id="searchReview" parameterType="map" resultType="com.bjbj.review.ReviewDTO">
	select * from review 
		where ${category} like '%' || #{keyword} || '%'
</select>

<!-- 리뷰 개별 삭제 -->
<delete id="deleteReview" parameterType="int">
	delete from review where review_no = #{review_no}
</delete>

<!-- 리뷰 전체 삭제 -->
<delete id="deleteAllReview" parameterType="int">
	delete from review
		where review_no in
			<foreach collection="array" item="num" open="(" close=")" separator=",">
				#{num}
			</foreach>
</delete>


<!-- 회원 신고 조회 -->
<select id="selectAllreport" resultType="com.bjbj.manager.ReportDTO" >
	select * from report
</select>

<!-- 회원 신고 - 신고삭제 -->
<delete id="deleteReport" parameterType="String">
	delete from report where email = #{email}
</delete>

<!-- 모임 신고 조회 -->
<select id="selectRoomreport" resultType="com.bjbj.manager.ReportBookroomDTO">
	select * from report_bookroom 
</select>
<!-- 모임신고 - 바로 삭제 -->
<delete id="deleteEachBookroom" parameterType="int">
	delete from report_bookroom where room_id = #{room_id}
</delete>

<!-- 회원신고 - 경고 횟수 추가 -->
<update id="addReport" parameterType="com.bjbj.manager.ReportDTO">
	update report 
	set warning_count = warning_count +1 
	,report_action = 1
		where email = #{email}
</update>
<!-- 회원신고 - 경고 추가 후 신고횟수 다시 선택하기 -->
<select id="selectMemberReport" resultType="int">
	select warning_count from report where email = #{email}
</select>

<!-- 모임신고 - 신고삭제 -->
<delete id="deleteReportBookroom" parameterType="int">
	delete from report_bookroom where room_id = #{room_id}
</delete>



	
</mapper>