<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="memberMapper">

	<!-- 전체 조회 -->
	<select id="selectAll" resultType="com.bjbj.member.MemberDTO">
		select * from member
	</select>
	
	<!-- 회원 탈퇴 -->
	<delete id="delete" parameterType="map">
		delete from member where 
			email = #{email} and pw = #{pw}
	</delete>
	
	<!-- 내 정보 수정 -->
	<update id="modify" parameterType="com.bjbj.member.MemberDTO">
		update member set 
			nickname = #{nickname}, pw = #{pw}, mydesc = #{mydesc}
		where email = #{email}
	</update>
<select id="">
</select>
</mapper>