<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="reviewMapper">

	<!-- 리뷰 등록하기 -->
	<insert id="insert" parameterType="com.bjbj.review.ReviewDTO">
		INSERT INTO review VALUES (seq_review.nextval, #{review_title}, 'A@gmail.com', 'null', 'nicky', sysdate, #{content}, 0, #{img_no})
	</insert>
	
	<!-- 리뷰 삭제하기 -->
	<delete id="delete" parameterType="int">
		DELETE FROM review WHERE review_no = #{review_no}
	</delete>
	
	<!-- 게시글 번호로 조회 -->
	<select id="selectByNo" resultType="com.bjbj.review.ReviewDTO">
		SELECT * FROM review where review_no = #{review_no}	
	</select>

	<!-- 전체 조회 -->
	<select id="selectAll" resultType="com.bjbj.review.ReviewDTO">
		select * from review
	</select>
	
	<!-- 최근순으로 조회 -->
	<select id="selectLately" resultType="com.bjbj.review.ReviewDTO">
		select * from review join member using(email) where email = #{email} order by written_date desc
	</select>

	<!-- 페이징 -->
	<select id="getCount" resultType="int">
		select count(*) from review  join member using(email) where  email = #{email}
	</select>
	
	<!-- 페이징 -->
	<select id="selectPage" parameterType="map" resultType="com.bjbj.review.ReviewDTO">
		select * from (select review.*, row_number() over(order by written_date desc) as num from review where email = #{email}) join member using(email)
        where num between #{start} and #{end}
	</select>
</mapper>